body {
    font-family: 'Montserrat';
}
html{
    scroll-behavior: smooth;
}
/* Title image */

.phone-image {
    width: 60%;
    transform: rotate(25deg);
    margin-left: 10%;
    position: absolute;
}
#title {
    background-color: cadetblue;
    color: #fff;
}
#title .container-fluid {
    padding: 3% 20% 7%;
}
h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}
h3 {
    font-family: 'Montserrat';
    font-weight: bolder;
}
p {
    color: #afafaf;
}
@media (max-width: 1020px) {
    .phone-image {
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
}

/* Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-size: 1.5rem;
    font-family: 'Montserrat-light';
}

/* Download Button */
.download-button {
    margin: 10% 5% 5% 0;
}



/* Features sec*/

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}

.feature-box {
    text-align: center;
    padding: 4%;
}
.features-para{
    font-size: 1.3rem;
}
.icon {
    color: rgb(50, 100, 102);
    margin-bottom: 1rem;
}
.icon:hover {
    color: cadetblue;
}

/* testimonials section */

h2 {
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.5;
}

#testimonials {
    text-align: center;
    background-color: cadetblue;
    color: #fff;
}
.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 25px;
}
#press{
    background-color: cadetblue;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
} 

.carousel-item {
    padding: 7% 15%;
}

/*Pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

/* cta section */

#cta {
    background-color: cadetblue;
    padding:3% 15%;
    color: #fff;
    text-align: center;
} 
.heading {
    font-family: "Montserrat-Black";
    font-size: 4rem;
}
.lower{
    padding: 2%;
    margin: 10% 2%;
}

/* footer section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.icon{
    padding: 10px 20px ;
}
.footer-para {
    font-size: 1.2rem;
}